body {
    min-width: 350px;
}

.tab {
    overflow-y: scroll;max-height: 540px !important; 
}

.legend {
    margin-top: 0.25rem;
}

.covid19 thead th {
    cursor: pointer;
}

.pr-ad {
    padding-right: 36px;
}
.input-group-btn {
    position: absolute;
    right: 0;
    z-index: 4;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: var(--primary);
    color: var(--white); 
    vertical-align: middle;
    text-align: center;
}

.table th{
    background-color: var(--light);
    color: var(--dark); 
}