body {
    min-width: 350px;
}

.tab {
    overflow-y: scroll;max-height: 540px !important; 
}

.legend {
    margin-top: 0.25rem;
}

.table thead th {
    position: sticky;
    top: 0;
    background-color: var(--primary);
    color: var(--white); 
    vertical-align: middle;
    text-align: center;
}

.table th{
    background-color: var(--light);
    color: var(--dark); 
}